@tailwind base;
@tailwind components;
@tailwind utilities;

/* add base layer */
@layer base {
 body{
  font-family: "Overpass", sans;
  font-size: 15px;
  font-weight: 400;
 }
 .selected-rating{
  @apply bg-primary-orange text-white !important;
 }
}
.attribution {
  font-size: 11px;
  text-align: center;
  @apply text-neutral-medium-grey
}
.attribution a {
  @apply text-primary-orange
}
